
/* -==============================Slick slider==================== */



/* =======================================Comment================== */



.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(255, 0, 0) !important;
}



.rating {
    display: inline-flex;
    margin-top: -10px;
    flex-direction: row-reverse;
}

.rating > input {
    display: none;
}
.review_rating {
    font-size: 20px;
    color: yellow;
    cursor: pointer;
}
.rating > label {
    position: relative;
    width: 28px;
    font-size: 35px;
    color: #ff0000;
    cursor: pointer;
}

.rating > label::before {
    content: '\2605';
    position: absolute;
    opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important;
}

.rating > input:checked ~ label:before {
    opacity: 1;
}

.rating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

/* ========================Same-product */
.same-product-title {
    font-size: 2.4rem;
}
.product-card {
    display: block;
    position: relative;
    width: 100%;
    border: 1px solid #e1e7ec;
    border-radius: 7px;
    background-color: #fff;
}

.product-card .product-badge {
    top: 15px;
    left: -6px;
}

.product-badge {
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    padding: 0 0 0 8px;
}
.product-badge::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    border-top: 5px solid currentColor;
    border-left: 5px solid transparent;
    filter: brightness(40%);
}
.fz-14 {
    font-size: 14px;
}
.fz-20 {
    font-size: 20px;
}
.icon-lg {
    font-size: 100px !important;
}
.text-danger {
    color: #ff0f0f !important;
}

.product-card .product-thumb {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.product-card .product-title {
    margin-bottom: 10px;
    font-size: 18px;
    min-height: 36px;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 18px;
}

.product-card .product-price {
    margin-bottom: 10px;
    color: #606975;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.product-card .product-buttons {
    padding: 12px 0 8px;
    text-align: center;
}

.product-card .product-buttons > .btn.btn-wishlist {
    width: 36px;
    padding: 5px;
    padding-left: 6px;
    border-radius: 50%;
}

.product-card .product-buttons > .btn.btn-wishlist > i {
    font-size: 1.2em;
}

.btn > i {
    font-size: 1.1rem;
    display: inline-block;
    margin-top: -6px;
    vertical-align: middle;
}

.btn-outline-primary {
    border-color: #0da9ef;
    background-color: transparent;
    color: #0da9ef;
}

.btn-sm {
    height: 36px;
    padding: 0 18px;
    border-radius: 18px;
    font-size: 12px;
    line-height: 34px;
}

img,
figure {
    max-width: 100%;
    /* height: auto; */
    vertical-align: middle;
}

.product-card {
    margin-right: 10px;
}
.product-img {
    width: auto !important;
    height: 220px;
    margin: 0 auto;
}




